<div class="webpage">
  <!-- 
    Banner 
      stays on top of screen even as user scrolls
  -->
  <div class="banner">
    <button (click)="refreshPage()">Twitter Search Engine</button>
    <a href="https://github.com/athom031/Twitter-Search-Engine" target="_blank" rel="noopener" style="float: right;">
      GitHub Repo
    </a>
  </div>

  <!-- 
    Search Home 
      when no search query is currently submitted
  -->
  <div *ngIf="!searchQuery; else search">
    <div class="search-home-container">
      <div class="search-home-title">
        <p>
          Your Search Starts With Us.
        </p>
      </div>

      <div class="search-home-caption">
        <p>
          Enter your query and find the most relevant tweet
        </p>
      </div> 

      <div class="search-home-query">
        <p>
          Query:
        </p>
      </div>

      <div class="search-home-bar">
        <app-search-bar (searchSubmit)="getTweetIds($event)"></app-search-bar>
      </div>

    </div>
  </div>

  <!--
    Search Results
      returned relevant tweets based on search query
  -->
  <ng-template #search>
    <div *ngIf="tweetIds.length>0; else no_results">
      <div class="search-results">

        <div class="search-results-query">
          Query: {{ searchQuery }}
        </div>
        
        <div class="search-results-tweets">
          <div *ngFor="let tweetId of tweetIds">
            <app-tweet-embed [tweetId]="tweetId"></app-tweet-embed>
          </div>
        </div>
  
        <div class="search-results-banner">
          Tweets From Sea to Shining Sea
          About the Fall of 2020
          For You and Me.
        </div>
  
      </div>
    </div>

    <ng-template #no_results>
      <div class="no-result-title">
        Curious...
      </div>
      <div class="no-result-body">
        It seems out of 4.5 million tweets, your search query:
        {{ searchQuery }} 
        does not match any in our collection.
        Though this number may seem daunting, the Fall of 2020 was a trying time.
        Keeping this in mind, try a more relevant search.
      </div>
    </ng-template>


    <div class="search-results-refresh">
      <button (click)="refreshPage()">Search Again</button>
    </div>
    
  </ng-template>

  <router-outlet></router-outlet>
</div>
