<div class="webpage">
  <!-- 
    Banner 
      stays on top of screen even as user scrolls
  -->
  <div class="banner">
    <a class="home-button" href="">
      Twitter Search Engine 
    </a>
    <div class="github-button">
      <a href="https://github.com/athom031/Twitter-Search-Engine" target="_blank" rel="noopener" style="float: right;">
        GitHub Repo
      </a>
      <img src="../assets/github_logo.png" alt="GitHub Logo" class="github-logo">
    </div>
  </div>

  <!-- 
    Search Home 
      when no search query is currently submitted
  -->
  <div *ngIf="!gotResult; else search">
    <div class="search-home-container">
      <div class="search-home-title">
        <p>
          Your Search Starts
          <br/> 
          With Us.
          <br/>
        </p>
      </div>

      <div class="search-home-caption">
        <br/>
        <p>
          Enter your search for any tweet below <br/><br/>
        </p>
      </div> 

      <div class="search-home-bar">
        <p>
          Query:
        </p>
        <app-search-bar (searchSubmit)="getTweetIds($event)"></app-search-bar>
      </div>

    </div>
  </div>

  <!--
    Search Results
      returned relevant tweets based on search query
  -->
  <ng-template #search>
    <div *ngIf="tweetIds.length > 0; else no_results" class="search-results">
      <div class="fixed-column">
        <div class="search-results-banner">
          <i>
            Tweets From Sea to Shining Sea<br/>
            About the Fall of 2020<br/>
            For You and Me.<br/><br/>
          </i>
        </div>
        <div class="search-results-query">
          Results for: <i>{{ searchQuery }}</i><br/><br/>
        </div>
        <div class="search-results-search-again">
          <button class="btn" (click)="refreshPage()">Search Again</button>
        </div>
      </div>
    
      <div class="scrollable-column">
        <div class="scrollable-content">
          <div class="search-results-tweets">
            <div *ngFor="let tweetId of tweetIds">
              <app-tweet-embed [tweetId]="tweetId"></app-tweet-embed>
            </div>
          </div>
        </div>
      </div>
    </div>    
    
    <ng-template #no_results>
      <div class="no-results-container">
        <div class="no-results-wrapper">
          <div class="no-results-title">
            Curious...
          </div>
          <div class="no-results-body">
            It seems out of 4.5 million tweets, your search query:<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>{{ searchQuery }}</i><br/>
            does not match any in our collection.<br/><br/>
            Though this number may seem daunting,<br/>
            &nbsp;&nbsp;&nbsp;the Fall of 2020 was a trying time.<br/>
            Keeping this in mind, <br/>
            &nbsp;&nbsp;&nbsp;try a more relevant search.<br/><br/>
          </div>
        </div>

        <div class="search-results-refresh">
          <button class="btn" (click)="refreshPage()">Search Again</button>
        </div>
      </div>
    </ng-template>


    
    
  </ng-template>

  <router-outlet></router-outlet>
</div>